{% extends 'main.html' %}

{% block content %}
<h1>{{recipe.name}}</h1>

<p>{{recipe.description}}</p>
{% if recipe.recipe_image %}
<img src="{{recipe.recipe_image.url}}">
{% endif %}

<div class="comment-wrapper">
    <h3>Comments</h3>
    <hr>

    {% for comment in recipe_comment %}
    <div>
    {%  if request.user == comment.user %}
    <a href="{% url 'delete-comment' comment.id %}">Delete</a>
    {% endif %}
    <small>@{{comment.user}} {{comment.created|timesince}} ago</small>
    <p>{{comment.body}}</p>


    </div>

    {% endfor %}

</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Comment here...">
    </form>

</div>
{% endif  %}

{% endblock %}